// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #3880ff;
  --ion-color-secondary: #3dc2ff;
  --ion-color-tertiary: #5260ff;
  --ion-color-light: ##ffffff;
  --ion-color-dark: #4d4d4d;
    --ion-color-medium: #a1a1a1;

    --ion-font-family: 'Arial';
    --ion-font-size-largest: 30px;
    --ion-font-size-large: 25px;
    --ion-font-size-medium: 20px;
    --ion-font-size-small: 18px;
    --ion-font-size-smallest: 16px;
    --ion-font-weight-bold: 700;
    --ion-font-weight-medium: 500;
    --ion-font-weight-regular: 400;
    --ion-font-weight-light: 300;
}
